.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.avatars-container {
  display: flex;
}