.button-wrapper {
  display: flex;
}

.card {
  position: absolute;
  width: 424px;
  z-index: 3;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.first-card {
  z-index: 3;
}

.second-card {
  z-index: 2;
  transform: translateY(10px) scale(.95);
}

.third-card {
  z-index: 1;
  transform: translateY(20px) scale(.85);
}