.wrapper {
  background-color: gray;
  border-radius: 24px;
  height: 24px;
  width: 48px;
  padding: 2px;
}

.knob {
  background-color: white;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
}