.avatar {
  margin: 0 auto;
}

.container {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  min-height: 68px;
  margin-top: 4px;
}

.label {
  color: gray;
}