.wrapper{
  aspect-ratio: 1;
  padding: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.colored-till {
  padding: 4px 12px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.books-colored-till {
  background-color: rgb(30, 144, 255);
}

.email-colored-till {
  background-color: rgb(255, 171, 30);
}

.work-colored-till {
  background-color: rgb(188, 98, 255);
}

.urgent-colored-till {
  background-color: rgb(127, 255, 98);
}

.avatars-container {
  display: flex;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.footer__percentage {
  display: flex;
  align-items: flex-end;
}

.progress-bar {
  width: 60%;
}